# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env

# Environment
.venv/
venv/
env/
ENV/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Models
ml_models/*.pkl
!ml_models/.gitkeep
